<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Google -->
      <a class="btn-floating m-1" href="https://www.google.es/">
        <i class="fab fa-google" style="color: white; margin-left: 10px"></i>
      </a>

      <!-- Instagram -->
      <a class="btn-floating m-1" href="https://www.instagram.com/" role="button">
        <i class="fab fa-instagram" style="color: white; margin-left: 10px"></i>
      </a>

      <!-- Github -->
      <a class="btn-floating m-1" href="https://github.com/ArturoString/TFG/tree/main" role="button">
        <i class="fab fa-github" style="color: white; margin-left: 10px"></i>
      </a>

      <!-- Facebook -->
      <a class="btn-floating m-1" href="https://es-es.facebook.com/" role="button">
        <i class="fab fa-facebook-square" style="color: white; margin-left: 10px"></i>
      </a>

      <!-- Facebook -->
      <a class="btn-floating m-1" href="https://www.linkedin.com/in/arturo-mu%C3%B1oz-mart%C3%ADnez-79bb481b0/" role="button">
        <i class="fab fa-linkedin" style="color: white; margin-left: 10px"></i>
      </a>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="#">Herbia.com</a>
  </div>
</footer>
