<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Google -->
      <a class="btn btn-floating m-1" href="https://www.google.es/" role="button">
        <i class="fab fa-google"><img src="assets/iconos/google.svg" alt="Google"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-floating m-1" href="https://www.instagram.com/" role="button">
        <i class="fab fa-instagram"><img src="assets/iconos/instagram.svg" alt="Instagram"></i>
      </a>

      <!-- Github -->
      <a class="btn btn-floating m-1" href="https://github.com/ArturoString/TFG/tree/main" role="button">
        <i class="bi bi-github"><img src="assets/iconos/github.svg" alt="Github"></i>
      </a>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="#">Herbia.com</a>
  </div>
</footer>
